rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to create a user
    match /users/{userId} {
      allow create: if true;
    }
    // TEMPORARY: Allow public read, but only authenticated write
    match /{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}